
.h2-title{
    color: #ffffff;
		font-weight: 600;
		line-height: 1.65;
}

.p-text{
    
}
.portfolio-items{

}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
  z-index: 9999;
  display: none;

  &.is-open{
    display: block;
  }
}

/* Modal styles */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 90%;
  transform: translate(-50%, -50%);
  background-color: #441174;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;

    &.is-open{
      display: block;
    }
  }
  
 .modal-close{
  position: absolute;
    font-size: 60px;
    top: -0.2em;
    right: 0.5em;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
 }

.modal-header{
  text-align: center;
  padding: 0.5em 1em;
  }

.modal-title-box{
    background: rgba(black, 0.75);
    padding: 0.5em 2.5em 0 2.5em;
    color: white;
    width: 100%;
}

.modal-title{
    font-size: 4em;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    bottom: 0;
}

.modal-subtitle{
    font-size: 2rem;
    text-align: center;

    &::after{
        content:'';
        display: block;
        height: 1px;
        margin: 1em 0;
        background: white;
        width: 100%;
    }
}

.modal-text {
  margin-bottom: 0px; /* Adjust spacing between text and image */
}

  .modal-content {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    max-height: 80%;
    max-width: 85%;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .modal-content img {
    max-width: 100%; /* Adjust as needed */
    max-height: 100vh; /* Adjust as needed */
    width: auto;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 20px;
    text-align: center;
  }

  .modal-video{
    position: absolute;
    display: flex;
    	justify-content: center;
    	align-items: center;
    	margin-top: 20px; /* Adjust margin as needed */
		margin-bottom: 20px;
  }

  .modal-img-container{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-button-container {
    margin-top: auto;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.modal-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 4em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}


  @keyframes modalIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes modalOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  @media screen and (max-width: 600px) {
    .modal-content img {
        width: 95%;
    }

    .modal-title{
      font-size: 5vw;
    }

    .modal-button{
      font-size: 4vw;
    }
}

/* Ensure the title remains on a maximum of two lines */
@media screen and (max-width: 450px) {
  .modal-title {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
  }
}
